.block-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.st-emotion-cache-16txtl3 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
}